<form method="post" action="{{ path('categoryexercice_delete', {'id': categoryexercice.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categoryexercice.id) }}">
    <button class="btn">Delete</button>
</form>
